.choosable-ability-container{
	background-color: #333;
	color: #ddd;
	padding: 2px;
	padding-bottom: 10px;
	margin: 10px 5px;
	font-size: 10pt;
	border-radius: 10px;
}

.choosable-ability-container .abilities-list-container{
	display: flex;
	justify-content: center;
}

.choosable-ability-container .abilities-list-container .choosable-ability{
	margin: 5px 10px;
	font-size: 9pt;
	text-transform: uppercase;
	position: relative;
	height: 30px;
	aspect-ratio: 1;
}

.choosable-ability-container .abilities-list-container .choosable-ability::after{
	content: '';
	display: block;
	background-color: white;
	border: 3px solid #cc8;
	height: 30px;
	aspect-ratio: 1;
	position: absolute;		
	transform: translate(-50%, -50%) rotate(45deg);
	left: 50%;
	top: 50%;
	z-index: 0;
}

.choosable-ability-container .abilities-list-container .choosable-ability span{
	color: black;
	position: absolute;
	z-index: 1;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.choosable-ability-container .description .positive{
	color: #5b5;
}
