.abilities-container{
}

.abilities-container .normal-abilities-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.abilities-container .normal-abilities-container .ability-score-widget{
	aspect-ratio: 1;
	padding: 5px 10px;
	margin: 10px;
	font-size: 11pt;
	height: 45px;
	position: relative
}

.abilities-container .normal-abilities-container .ability-score-widget::after{
	content: '';
	display: block;
	aspect-ratio: 1;
	height: 40px;
	background-color: white;
	border: 3px solid #cc8;
	position: absolute;
	transform: translate(-50%, -50%) rotate(45deg);
	left: 50%;
	top: 50%;
	z-index: 0;
}

.abilities-container .normal-abilities-container .ability-score-widget > div{
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	font-size: 10pt;
	z-index: 1;
}

.abilities-container .normal-abilities-container .ability-score-widget > div span{
	display: block;	
}

.abilities-container .normal-abilities-container .ability-score-widget > div .name{
	text-transform: uppercase;
}

.abilities-container .normal-abilities-container .ability-score-widget > div .value.positive{
	color: #060;
}

.abilities-container .normal-abilities-container .ability-score-widget > div .value.negative{
	color: #600
}
