#class-buttons-container{
	display: flex;
	justify-content: center;
	background-color: #444;
	padding: 15px;
}

#class-buttons-container .class-button{
	margin: 10px;
	cursor: pointer;
	position: relative;
}

#class-buttons-container .class-button .picture{
	height: 50px;
	width: 50px;
	background-size: contain;
	background-color: #489090;
	border-radius: 100%;
	position: relative;
	transition: all 0.5s;
	box-shadow: 1px 2px 20px transparent;
	transform: scale(1);
	margin: 0
}

#class-buttons-container .class-button:hover .picture,
#class-buttons-container .class-button.active .picture{
	box-shadow: 1px 2px 10px #222f;
	transform: scale(1.25);
	margin: 0 5px;
}

#class-buttons-container .class-button .picture .placeholder{
	color: white;
	font-size: 18pt;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

#class-buttons-container .class-button .name{
	position: absolute;
	width: fit-content;
	background-color: black;
	transform: translate(-50%, 0);
	left: 50%;
	white-space: nowrap;
	bottom: -50px;
	padding: 2px 7px;
	border-radius: 4px;
	opacity: 0;
	transition: all 0.5s;
}

#class-buttons-container .class-button:not(.active):hover .name{
	bottom: -35px;
	opacity: 1
}

#class-infobox{
	background-color: #282828;
	max-width: 1400px;
	margin: 15px auto;
	padding: 10px;	
	min-height: 500px;
	border-radius: 20px;
	font-family: 'Roboto', sans-serif !important; 
	position: relative;
}

#class-infobox.light-mode {
	background-color: #a8a0a0;
	color: #222;
}

#class-infobox .content-container{
	display: flex;
	width: 100%;
}

/*
#class-infobox .content-container > nav{
	width: 20%;
	min-height: 100%;
	display: none;
	border-right: 2px solid #777;
	background-color: #222;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

#class-infobox.light-mode .content-container > nav{
	background-color: #888;
}
*/

#class-infobox .content-container .content{
	width: 100%;
	min-height: 100%;
	text-align: left;
	background-color: #282828;
	padding: 10px 20px;
}

#class-infobox.light-mode .content-container .content{
	background-color: #a8a0a0;
}

#class-infobox.empty{
	position: relative;
}

#class-infobox.empty span{
	font-size: 25pt;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%; 
	width: 100%;
}

#class-infobox .buttons{
	position: absolute;
	top: 10px;
	left: 20px;
	display: flex;
	padding: 10px;
}

#class-infobox .buttons .button{
	background-color: #383838;
	height: 45px;
	width: 45px;
	position: relative;
	border-radius: 100%;
	cursor: pointer;
	transition: all 0.25s;
}

#class-infobox .buttons .button span{
	position: absolute;
	transform: translate(-50%, -50%) scale(1.25);
	left: 50%;
	top: 50%;
	color: #ddd;
}

#class-infobox:not(.light-mode) .buttons .button:hover{
	background-color: #aaa;
}

#class-infobox:not(.light-mode) .buttons .button:hover span{
	color: #383838;
}

#class-infobox.light-mode .buttons .button{
	background-color: #989090;
}

#class-infobox.light-mode .buttons .button span{
	color: #444;
}

#class-infobox.light-mode .buttons .button:hover{
	background-color: #222;
}

#class-infobox.light-mode .buttons .button:hover span{
	color: #999;
}

