
.info-collapsable > h2{
	padding: 15px;
	margin: 10px 0;
	padding-bottom: 25px;
	border-bottom: 2px solid #555;
	position: relative;
	display: flex;
	cursor: pointer;	
}

.light-mode .info-collapsable > h2{
	border-bottom: 2px solid #888;
}

.info-collapsable > h2 > div:first-of-type{
	height: 2.5rem;
	width: 2.5rem;
	position: absolute;
	right: 20px;
} 

.info-collapsable > h2 .source{
	background-color: #0009;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 10px;
	margin-left: 7px;
}

.info-collapsable > h2 .source .page{
	font-family: 'Indie Flower', cursive;
	font-size: 16pt;
	margin-left: 5px;
	color: #8888;
	position: relative;
	bottom: 2px;
}

.light-mode .info-collapsable > h2 .source{ 
	color: #aaa;
	background-color: #000b;
}

.light-mode .info-collapsable > h2 .source .page{
	color: #fff9;	
}

.info-collapsable > h2 > div:first-of-type::before{
	content: '';
	display: block;
	height: 1.5rem;
	width: 1.5rem;
	border-top: 2px solid #ddd;
	border-left: 2px solid #ddd;
	position: absolute;
	transform: translate(-50%, -50%) rotate(-135deg);
	left: 50%;
	top: 50%;
}

.light-mode .info-collapsable > h2 > div:first-of-type::before{
	border-top: 2px solid #444;
	border-left: 2px solid #444;
}

.info-collapsable.collapsed > h2 > div:first-of-type::before{
	transform: translate(-50%, -50%) rotate(45deg);
	top: 70%;
}

.info-collapsable section{
	padding: 7px 10px;
}

.info-collapsable section:not(.quote):first-of-type {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.info-collapsable section:not(.quote):last-of-type {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.info-collapsable p{
	margin: 5px 2px;
}

.info-collapsable section.odd {
	background-color: #222;
}

.info-collapsable section.even{
	background-color: #282828;
}

.light-mode .info-collapsable section.even{
	background-color: #a8a0a0;
}

.light-mode .info-collapsable section.odd{
	background-color: #989090;
}

.info-collapsable section.quote {
	background-color: #8c6b2f88;	
	color: #b8b8b8;
	margin: 10px 0; 
	margin-top: 15px;
	padding: 15px;	
	border: 5px solid #fff3;
}

.info-collapsable section.quote p{
	font-weight: bold;
	font-size: 14pt;
}

.info-collapsable section.quote p::before,
.info-collapsable section.quote p::after{
	content: '"'
}
.info-collapsable section.quote span{
	text-align: right;
	display: block;
	margin: 10px 30px;
	font-family: 'Indie Flower', cursive;
	font-size: 15pt;
}

.light-mode .info-collapsable section.quote{
	background-color: #8c6b2fee;
}

.info-collapsable section > h3{
	padding: 15px 10px;
	border-bottom: 1px solid #555; 
	position: relative;
	cursor: pointer;
}

.light-mode .info-collapsable section > h3{
	border-bottom: 1px solid #888;
}
 
.info-collapsable section > h3 > div{
	height: 2.5rem;
	width: 2.5rem;
	position: absolute;	
	right: 40px;
	transform: translate(0, -50%);
	top: 50%;
}

.info-collapsable section > h3 > div::after{
	content: '';
	display: block;
	height: 1.25rem;
	width: 1.25rem;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	position: absolute;
	transform: translate(-50%, -50%) rotate(-135deg);
	left: 50%;
	top: 30%;
}

.light-mode .info-collapsable section > h3 > div::after{
	border-top: 1px solid #222;
	border-left: 1px solid #222;
}

.info-collapsable section.collapsed > h3 > div::after{
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.info-collapsable section.collapsed > section, 
.info-collapsable.collapsed > section {
	display: none;
}

