#race-displayer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#race-displayer .race-selectbox{
	background: #aaa;
	width: 750px;
	height: 600px;
	margin: 10px;
	border: 3px solid #aaac;
	position: relative;
	display: flex;
	cursor: pointer;
}

#race-displayer .race-selectbox:hover{
	border-color: white;
}

#race-displayer .race-selectbox .text-content{
	width: 50%;
	padding: 10px 15px;
	color: black;
}

#race-displayer .race-selectbox .text-content .description{
	max-height: 30%;
	overflow: hidden;
	word-wrap: break-word;
	white-space: normal;
	display: -webkit-box !important;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	margin: 10px 5px;
}

#race-displayer .race-selectbox .text-content > .name{
	font-size: 22pt;
	font-weight: bold;
	margin: 15px 0;
}

#race-displayer .race-selectbox .thumbnail{
	min-width: 50%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
	background-color: #333;
	position: relative;
}

#race-displayer .race-selectbox.no-image .thumbnail::after{
	content: 'No Image';
	font-weight: bold;
	font-size: 25pt;
	display: block;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

#race-displayer .race-selectbox .text-content .sources-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#race-displayer .race-selectbox .text-content .sources-container .source{
	background-color: #383838;	
	color: #ddd;
	margin: 2px 5px;
	padding: 2px 5px;
	border-radius: 100px;
}

#race-displayer .race-selectbox .text-content .sources-container .source.active{
	color: white;
}

#race-displayer .race-selectbox .text-content .feats-container{
	column-count: 2;
	column-rule: 1px solid #888;
	text-align: left;
	padding: 10px 5px;
	font-size: 13pt;
	font-family: 'Indie Flower', cursive;	
}

#race-displayer .race-selectbox .text-content h5{
	margin: 2px auto;
	position: relative;
	width: 95%;
}
#race-displayer .race-selectbox .text-content h5 > span{
	display: inline-block;
	z-index: 1;
	position: relative;
	background-color: #aaa;
	padding: 0 4px;
	font-size: 11pt;
	font-weight: normal;
	font-family: 'Indie Flower', cursive;	
}

#race-displayer .race-selectbox .text-content h5 > span > span{
	font-family: 'Quicksand', sans-serif;
	font-size: 9pt;
}

#race-displayer .race-selectbox .text-content h5::before{
	content: '';
	display: inline-block;
	height: calc(0.5rem + 3px);
	width: 100%;
	position: absolute;
	z-index: 0;
	transform: translate(-50%, 0);
	left: 50%;
	bottom: 0;
	border-top: 1px solid grey;
}

#race-search-container{
	font-size: 13pt;
}

#race-search-container input{
	width: 100%;
	max-width: 500px;
	margin: 5px;
	margin-right: 15px;
	padding: 5px 10px;
	font-family: "Quicksand", sans-serif;
	font-size: inherit;
	background-color: #444;
	color: #ddd;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: all 0.5s;
}

#race-search-container input:focus{
	background: #aaa;
	color: #333;
}
