#stage-button-container{
    display: flex;
    justify-content: center; 
		margin: 30px auto;
}

#stage-button-container .stage-button{
    padding: 10px 17px;
    margin: 10px;
    border-radius: 100%;
    border: 2px solid #888;
    position: relative;
    height: 80px;
    width: 80px;
    transition: all 0.25s;
}

#stage-button-container .stage-button.active{
    background-color: #755b4c;    
}

#stage-button-container .stage-button:not(.active):hover {
    background-color: #ddd;
    color: #222;
    cursor: pointer;
}

#stage-button-container .stage-button > div {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
}

#stage-button-container .stage-button > div p{
    margin: 0;
    padding: 0;
    font-size: 18pt;
    font-weight: 900;
}

#stage-button-container .stage-button > div span{
    font-size: 10pt;
    margin: 0;
    padding: 0;
    top: 2px;
    position: relative;
}
