@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@500&family=Roboto&display=swap');
@import url('https://css.gg/css?=|dark-mode');

html, body{
    background-color: #222;
    margin: 0;
    padding: 0;
    color: #ddd;
    text-align: center;
    font-family: 'Quicksand', serif; 
}

*, *::before, *::after{
    box-sizing: border-box;
}
